@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;600&display=swap");

* {
    font-family: "JetBrains Mono", monospace;
}

body {
    background: honeydew;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#delete {
    background-color: salmon;
    border: 0.5rem solid firebrick;
    font-weight: 600;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    cursor: pointer;
}

#calculator {
    padding: 2rem;
    width: 50%;
    background-color: bisque;
    border: 0.5rem solid slategray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

#calculator div {
    background-color: lightsalmon;
    border: 0.25rem solid salmon;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 1.5rem;
    cursor: pointer;
}

div #clear, div #display {
    font-weight: 600;
    font-size: 2.5rem;
    background-color: linen;
    border: 0.25rem solid lightsalmon;
}

div #display {
    cursor: auto;
    grid-column: 2 / span 3;
    aspect-ratio: auto;
}

#calculator div:nth-child(6), #calculator div:nth-child(10), #calculator div:nth-child(14), #calculator div:nth-last-child(3), #calculator div:nth-last-child(2), #calculator div:nth-last-child(1) {
    font-weight: 500;
    font-size: 2rem;
    background-color: salmon;
    border: 0.25rem solid firebrick;
}